<!DOCTYPE html>
<html lang="zh-cn">
<head>
<include file="global:meta" />
<title>index</title>

<include file="global:css" />
<import type="css" href="styles/pages/index" />

</head>
<body class="p-index">

<div class="screen-full">
    <a href="#" class="baby-go">立即启程！</a>
</div>
<include file="global:nav" page="navbar-in-index" />

{/* 何为再来人 */}
<div class="container">
    <h2>何为再来人？</h2>
    <p>
    极路由是国内第一家涉及智能路由器产品的公司，他们于 2013 年发布了首款路由器产
    品——极壹。产品主打信号强、上网快，还包含了像 App Store 加速、应用商店、翻墙
    等其它功能。
    </p>
    <p>
    极路由创始人王楚云表示，此轮融资主要不是为资金，而是战略投资。芯片厂商联发科
    的加入将会和极路由一起搭建智能家居和可穿戴设备等产品的平台。王楚云还表示，公
    司将在不久后发布极路由OS</p>
    </p>
</div>

<div style="height:100%;"></div>

<include file="global:footer" />

<include file="global:js" />
</body>
</html>