<!DOCTYPE html>
<html lang="zh-cn">
<head>
<include file="global:meta" />
<title>index</title>

<include file="global:css" />
<import type="css" href="styles/pages/index" />

</head>
<body class="p-index">

<div class="screen-full">
    <a href="#" class="baby-go">立即启程！</a>
</div>

{/* 顶部导航 */}
<include file="global:nav" page="navbar-in-index" />

{/* 何为再来人 */}
<include file="Zh:index:zailairen" />

{/* 再来人的优势 */}
<include file="Zh:index:advantage1" />
<div class="tline"></div>
{/* 我们的再来导师 */}
<include file="Zh:index:mentors" />
<div class="tline"></div>
{/* 成功案例 */}
<include file="Zh:index:successful-case" />

<div style="height:60px;"></div>

<include file="global:iwantto" />
<include file="global:footer" />

<include file="global:js" />
</body>
</html>