<!DOCTYPE html>
<html lang="zh-cn">
<head>
<include file="global:meta" />
<title>news</title>

<include file="global:css" />
<import type="css" href="styles/pages/news" />

</head>
<body class="">

{/* 顶部导航 */}
<include file="global:nav" page="navbar-in-other" />

<div class="container news-wrap">
    <h2>新闻动态</h2>
    <p>极路由是国内第一家涉及智能路由器产品的公司，他们于 2013 年发布了首款路由器产
    品——极壹。产品主打信号强、上网快，还包含了像 App Store 加速、应用商店、翻墙
    等其它功能。
    极路由创始人王楚云表示，此轮融资主要不是为资金，而是战略投资。芯片厂商联发科
    的加入将会和极路由一起搭建智能家居和可穿戴设备等产品的平台。王楚云还表示，公
    司将在不久后发布极路由OS。极路由是国内第一家涉及智能路由器产品的公司，他们于 2013 年发布了首款路由器产
    品——极壹。产品主打信号强、上网快，还包含了像 App Store 加速、应用商店、翻墙
    等其它功能。</p>
    <p>极路由是国内第一家涉及智能路由器产品的公司，他们于 2013 年发布了首款路由器产
    品——极壹。产品主打信号强、上网快，还包含了像 App Store 加速、应用商店、翻墙
    等其它功能。
    极路由创始人王楚云表示，此轮融资主要不是为资金，而是战略投资。芯片厂商联发科
    的加入将会和极路由一起搭建智能家居和可穿戴设备等产品的平台。王楚云还表示，公
    司将在不久后发布极路由OS。极路由是国内第一家涉及智能路由器产品的公司，他们于 2013 年发布了首款路由器产
    品——极壹。产品主打信号强、上网快，还包含了像 App Store 加速、应用商店、翻墙
    等其它功能。</p>
    <div class="row">
        <div class="col-md-6 news">
            <h3>新闻</h3>
            <ul>
                <li><a href="#">由脸书的情绪实验想到，十年后可以去阿里巴巴读经济学博士</a></li>
                <li><a href="#">一位创业者的“毕业感言”，硅谷争相学习的典范Heidi Roizen关于生活和工作的8条金玉良言</a></li>
                <li><a href="#">PayPal帮如何重新定义成功（一）</a></li>
                <li><a href="#">尼尔森数据：音乐付费下载开始拖后腿了</a></li>
                <li><a href="#">Matt Turck：大数据行业信息图以及一些思考</a></li>
                <li><a href="#">百度再次出手教育领域：传百度投资海文考研背后万学教育集团</a></li>
                <li><a href="#">【众筹之后】 专访空气检测仪Air.Air！创始人宋宏嘉：“我们2个3周做完了Demo，生产却花了整整一年”</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>特殊活动</h3>
{/* special active start --------------------------------------------------- */}
<div id="specialActive" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#specialActive" data-slide-to="0" class="active"></li>
    <li data-target="#specialActive" data-slide-to="1"></li>
    <li data-target="#specialActive" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="__PUBLIC__/pics/jy003.jpg">
      <div class="carousel-caption">
        <p>这里是照片 001</p>
      </div>
    </div>
    <div class="item">
      <img src="__PUBLIC__/pics/jy003.jpg">
      <div class="carousel-caption">
        <p>这里是照片 002</p>
      </div>
    </div>
    <div class="item">
      <img src="__PUBLIC__/pics/jy003.jpg">
      <div class="carousel-caption">
        <p>这里是照片 003</p>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#specialActive" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#specialActive" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
{/* special active end ----------------------------------------------------- */}
        </div>
    </div>
</div>

<div style="height:60px;"></div>

<include file="global:iwantto" />

<include file="global:footer" />

<include file="global:js" />
</body>
</html>