<!DOCTYPE html>
<html lang="zh-cn">
<head>
<include file="global:meta" />
<title>teams</title>

<include file="global:css" />
<import type="css" href="styles/pages/teams" />

</head>
<body class="">

{/* 顶部导航 */}
<include file="global:nav" page="navbar-in-other" />

<div class="container teams-wrap">
    <h2>再来人团队</h2>
    <p>极路由是国内第一家涉及智能路由器产品的公司，他们于 2013 年发布了首款路由器产
    品——极壹。产品主打信号强、上网快，还包含了像 App Store 加速、应用商店、翻墙
    等其它功能。
    极路由创始人王楚云表示，此轮融资主要不是为资金，而是战略投资。芯片厂商联发科
    的加入将会和极路由一起搭建智能家居和可穿戴设备等产品的平台。王楚云还表示，公
    司将在不久后发布极路由OS。极路由是国内第一家涉及智能路由器产品的公司，他们于 2013 年发布了首款路由器产
    品——极壹。产品主打信号强、上网快，还包含了像 App Store 加速、应用商店、翻墙
    等其它功能。</p>
    <h3>核心管理团队</h3>
    <div class="clearfix">
<for start="0" end="4">
    <div class="staff">
        <div class="diagram">
            <img class="mi-1" src="__PUBLIC__/pics/yun.jpg">
            <p>中文名 | AAAAAA<br>XYZ YYYYYY</p>
        </div>
        <div class="introduce">
            <p>极路由是国内第一家涉及智能路由器产品的公司，他们于 2013 年发布了首款路由器产品——极壹。产品主打信号强、上网快，还包含了像 App Store 加速、应用商店、翻墙等其它功能</p>
            <p>极路由是国内第一家涉及智能路由器产品的公司，他们于 2013 年发布了首款路由器产品——极壹。产品主打信号强、上网快，还包含了像 App Store 加速、应用商店、翻墙等其它功能</p>
            <p>极路由是国内第一家涉及智能路由器产品的公司...</p>
        </div>
    </div>
</for>
    </div>
    <h3>高级顾问</h3>
    <div class="clearfix">
<for start="0" end="4">
    <div class="staff">
        <div class="diagram">
            <img class="mi-1" src="__PUBLIC__/pics/yun.jpg">
            <p>中文名 | AAAAAA<br>XYZ YYYYYY</p>
        </div>
        <div class="introduce">
            <p>极路由是国内第一家涉及智能路由器产品的公司，他们于 2013 年发布了首款路由器产品——极壹。产品主打信号强、上网快，还包含了像 App Store 加速、应用商店、翻墙等其它功能</p>
            <p>极路由是国内第一家涉及智能路由器产品的公司，他们于 2013 年发布了首款路由器产品——极壹。产品主打信号强、上网快，还包含了像 App Store 加速、应用商店、翻墙等其它功能</p>
            <p>极路由是国内第一家涉及智能路由器产品的公司...</p>
        </div>
    </div>
</for>
    </div>
</div>

<div style="height:60px;"></div>

<include file="global:iwantto" />

<include file="global:footer" />

<include file="global:js" />
</body>
</html>