<!DOCTYPE html>
<html lang="zh-cn">
<head>
<include file="global:meta" />
<title>values</title>

<include file="global:css" />
<import type="css" href="styles/pages/values" />

</head>
<body class="">

{/* 顶部导航 */}
<include file="global:nav" page="navbar-in-other" />

<div class="container clearfix">
    <h2>何为再来人</h2>
    <img class="pull-right" src="__PUBLIC__/pics/yun.jpg"
        style="width:238px;height:173px;margin-left:30px;">
    <p>
    极路由是国内第一家涉及智能路由器产品的公司，他们于 2013 年发布了首款路由器产
    品——极壹。产品主打信号强、上网快，还包含了像 App Store 加速、应用商店、翻墙
    等其它功能。
    极路由创始人王楚云表示，此轮融资主要不是为资金，而是战略投资。芯片厂商联发科
    的加入将会和极路由一起搭建智能家居和可穿戴设备等产品的平台。王楚云还表示，公
    司将在不久后发布极路由OS</p>
    <p>
    极路由是国内第一家涉及智能路由器产品的公司，他们于 2013 年发布了首款路由器产
    品——极壹。产品主打信号强、上网快，还包含了像 App Store 加速、应用商店、翻墙
    等其它功能。
    极路由创始人王楚云表示，此轮融资主要不是为资金，而是战略投资。芯片厂商联发科
    的加入将会和极路由一起搭建智能家居和可穿戴设备等产品的平台。王楚云还表示，公
    司将在不久后发布极路由OS</p>
</div>

<div class="container clearfix">
    <h2>再来人的使命</h2>
    <img class="pull-left" src="__PUBLIC__/pics/yun.jpg"
        style="width:238px;height:173px;margin-right:30px;">
    <p>
    极路由是国内第一家涉及智能路由器产品的公司，他们于 2013 年发布了首款路由器产
    品——极壹。产品主打信号强、上网快，还包含了像 App Store 加速、应用商店、翻墙
    等其它功能。
    极路由创始人王楚云表示，此轮融资主要不是为资金，而是战略投资。芯片厂商联发科
    的加入将会和极路由一起搭建智能家居和可穿戴设备等产品的平台。王楚云还表示，公
    司将在不久后发布极路由OS</p>
    <p>
    极路由是国内第一家涉及智能路由器产品的公司，他们于 2013 年发布了首款路由器产
    品——极壹。产品主打信号强、上网快，还包含了像 App Store 加速、应用商店、翻墙
    等其它功能。
    极路由创始人王楚云表示，此轮融资主要不是为资金，而是战略投资。芯片厂商联发科
    的加入将会和极路由一起搭建智能家居和可穿戴设备等产品的平台。王楚云还表示，公
    司将在不久后发布极路由OS</p>
    <p>
    极路由是国内第一家涉及智能路由器产品的公司，他们于 2013 年发布了首款路由器产
    品——极壹。产品主打信号强、上网快，还包含了像 App Store 加速、应用商店、翻墙
    等其它功能。
    极路由创始人王楚云表示，此轮融资主要不是为资金，而是战略投资。芯片厂商联发科
    的加入将会和极路由一起搭建智能家居和可穿戴设备等产品的平台。王楚云还表示，公
    司将在不久后发布极路由OS</p>
</div>
<hr>
<div class="container clearfix values-ys">
    <h2>再来人的优势</h2>
    <p>
    极路由是国内第一家涉及智能路由器产品的公司，他们于 2013 年发布了首款路由器产
    品——极壹。产品主打信号强、上网快，还包含了像 App Store 加速、应用商店、翻墙
    等其它功能。
    极路由创始人王楚云表示，此轮融资主要不是为资金，而是战略投资。芯片厂商联发科
    的加入将会和极路由一起搭建智能家居和可穿戴设备等产品的平台。王楚云还表示，公
    司将在不久后发布极路由OS</p>
    <h3>1 - 以学生的长期发展、提供最佳服务为核心理念</h3>
    <p>
    极路由是国内第一家涉及智能路由器产品的公司，他们于 2013 年发布了首款路由器产
    品——极壹。产品主打信号强、上网快，还包含了像 App Store 加速、应用商店、翻墙
    等其它功能。
    极路由创始人王楚云表示，此轮融资主要不是为资金，而是战略投资。芯片厂商联发科
    的加入将会和极路由一起搭建智能家居和可穿戴设备等产品的平台。王楚云还表示，公
    司将在不久后发布极路由OS</p>
    <p>
    极路由是国内第一家涉及智能路由器产品的公司，他们于 2013 年发布了首款路由器产
    品——极壹。产品主打信号强、上网快，还包含了像 App Store 加速、应用商店、翻墙
    等其它功能。
    极路由创始人王楚云表示，此轮融资主要不是为资金，而是战略投资。芯片厂商联发科
    的加入将会和极路由一起搭建智能家居和可穿戴设备等产品的平台。王楚云还表示，公
    司将在不久后发布极路由OS</p>
    <h3>2 - 世界最牛的再来导师来引路</h3>
    <p>
    极路由是国内第一家涉及智能路由器产品的公司，他们于 2013 年发布了首款路由器产
    品——极壹。产品主打信号强、上网快，还包含了像 App Store 加速、应用商店、翻墙
    等其它功能。
    极路由创始人王楚云表示，此轮融资主要不是为资金，而是战略投资。芯片厂商联发科
    的加入将会和极路由一起搭建智能家居和可穿戴设备等产品的平台。王楚云还表示，公
    司将在不久后发布极路由OS</p>
    <include file="zh:index:mentors-list" />
    <h3>3 - 与志同道合的精英一起打造更美好的未来</h3>
    <p>
    极路由是国内第一家涉及智能路由器产品的公司，他们于 2013 年发布了首款路由器产
    品——极壹。产品主打信号强、上网快，还包含了像 App Store 加速、应用商店、翻墙
    等其它功能。
    极路由创始人王楚云表示，此轮融资主要不是为资金，而是战略投资。芯片厂商联发科
    的加入将会和极路由一起搭建智能家居和可穿戴设备等产品的平台。王楚云还表示，公
    司将在不久后发布极路由OS</p>
    <p>
    极路由是国内第一家涉及智能路由器产品的公司，他们于 2013 年发布了首款路由器产
    品——极壹。产品主打信号强、上网快，还包含了像 App Store 加速、应用商店、翻墙
    等其它功能。
    极路由创始人王楚云表示，此轮融资主要不是为资金，而是战略投资。芯片厂商联发科
    的加入将会和极路由一起搭建智能家居和可穿戴设备等产品的平台。王楚云还表示，公
    司将在不久后发布极路由OS</p>
</div>


{/* 成功案例 */}
<include file="zh:index:successful-case-notitle" />

<div style="height:60px;"></div>

<include file="global:iwantto" />
<include file="global:footer" />

<include file="global:js" />
</body>
</html>