<div id="advantage" class="container">
    <h2>再来人的优势</h2>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#advantage1" role="tab" data-toggle="tab">长期发展为期核心理念</a></li>
      <li><a href="#advantage2" role="tab" data-toggle="tab">世界最牛的再来导师引路</a></li>
      <li><a href="#advantage3" role="tab" data-toggle="tab">与志同道合的精英一起打造更美好的未来</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="advantage1">
          <include file="zh:index:advantage-item" reason-index="1" />
      </div>
      <div class="tab-pane" id="advantage2">
          <include file="zh:index:advantage-item" reason-index="2" />
      </div>
      <div class="tab-pane" id="advantage3">
          <include file="zh:index:advantage-item" reason-index="3" />
      </div>
    </div>
</div>