<div class="pane-ys clearfix">
    <h3>Reason #[reason-index]</h3>
    <div class="row">
        <div class="col-md-3">
            <img src="__PUBLIC__/pics/yun.jpg">
        </div>
        <div class="col-md-6">
            <p>极路由创始人王楚云表示，此轮融资主要不是为资金，而是战略投资。芯片厂商联发科
        的加入将会和极路由一起搭建智能家居和可穿戴设备等产品的平台。极路由创始人王楚云表示，此轮融资主要不是为资金，而是战略投资。芯片厂商联发科
        的加入将会和极路由一起搭建智能家居和可穿戴设备等产品的平台。极路由创始人王楚云表示，此轮融资主要不是为资金，而是战略投资。芯片厂商联发科
        的加入将会和极路由一起搭建智能家居和可穿戴设备等产品的平台。极路由创始人王楚云表示，此轮融资主要不是为资金，而是战略投资。芯片厂商联发科
        的加入将会和极路由一起搭建智能家居和可穿戴设备等产品的平台。</p>
        </div>
        <div class="col-md-3">
            <img src="__PUBLIC__/pics/yun.jpg">
        </div>
    </div>
</div>