<div class="container">
    <h2>再来人的优势</h2>
    <div class="row">
        <div class="item-ys col-md-4">
            <h3>长期发展为期核心理念</h3>
            <div class="content-ys clearfix">
                <img class="pull-left" src="__PUBLIC__/pics/yun.jpg">
                <p>极路由创始人王楚云表示，此轮融资主要不是为资金，而是战略投资。芯片厂商联发科
        的加入将会和极路由一起搭建智能家居和可穿戴设备等产品的平台。王楚云还表示......</p>
            </div>
        </div>
        <div class="item-ys col-md-4">
            <h3>世界最牛的再来导师引路</h3>
            <div class="content-ys clearfix">
                <img class="pull-left" src="__PUBLIC__/pics/yun.jpg">
                <p>极路由创始人王楚云表示，此轮融资主要不是为资金，而是战略投资。芯片厂商联发科
        的加入将会和极路由一起搭建智能家居和可穿戴设备等产品的平台。王楚云还表示......</p>
            </div>
        </div>
        <div class="item-ys col-md-4">
            <h3>与志同道合的精英一起打造</h3>
            <div class="content-ys clearfix">
                <img class="pull-left" src="__PUBLIC__/pics/yun.jpg">
                <p>极路由创始人王楚云表示，此轮融资主要不是为资金，而是战略投资。芯片厂商联发科
        的加入将会和极路由一起搭建智能家居和可穿戴设备等产品的平台。王楚云还表示......</p>
            </div>
        </div>
    </div>
</div>