<div class="container">
    <h2>我们的再来导师</h2>
    <p>移动互联网改变了一些东西，比如 Cookie 的逐步消失，因此那些从网站或 APP 内部收集数据的企业有能力颠覆以前通过 cookie 收集用户行为的 DMP，因为他们有独一无二的用户行为数据。但是慢着，云管端，用户数据流经的各个环节也许都有潜在的 DMP 生意可以做！大数据时代已经拥有数据的企业是幸福的，但是还是有一些公司，利用自己的技术和算法征服了垂直电商，在提供 DMP 服务的时候同时获取数据，由此而进入了良性循环，不断增加的数据量和维度引发了网络效应，使得数据的价值按照 N 的平方的曲线增加。</p>
    <div class="row">
        <div class="col-md-3">
            <div class="item-mentor clearfix">
                <img class="mi-1" src="__PUBLIC__/pics/yun.jpg">
                <span>XXXXX<br/><img class="mi-2" src="__PUBLIC__/pics/yun.jpg"></span>
                <span>YYYYY<br/><img class="mi-3" src="__PUBLIC__/pics/yun.jpg"></span>
            </div>
            <div class="item-mentor clearfix">
                <img class="mi-1" src="__PUBLIC__/pics/yun.jpg">
                <span>XXXXX<br/><img class="mi-2" src="__PUBLIC__/pics/yun.jpg"></span>
                <span>YYYYY<br/><img class="mi-3" src="__PUBLIC__/pics/yun.jpg"></span>
            </div>
            <div class="item-mentor clearfix">
                <img class="mi-1" src="__PUBLIC__/pics/yun.jpg">
                <span>XXXXX<br/><img class="mi-2" src="__PUBLIC__/pics/yun.jpg"></span>
                <span>YYYYY<br/><img class="mi-3" src="__PUBLIC__/pics/yun.jpg"></span>
            </div>
        </div>
        <div class="col-md-9">
            <div class="mentor-detail row">
                <div class="col-sm-3 mentor-d1">
                    <img src="__PUBLIC__/pics/yun.jpg">
                    <p>XXXXXX YYYYY</p>
                    <p>
                        XYZ公司 XYZ职位<br/>
                        XYZ硕士 XYZ学士<br/>
                        突出特征 XXXXYZ
                    </p>
                </div>
                <div class="col-sm-5 mentor-d2">
                    <p>阿里巴巴也在尝试将积累的用户标签通过阿里妈妈的广告交易平台 TANX 提供出去，现在还没有说要收费，但也许以后会有商业化的运作</p>
                    <p>阿里巴巴也在尝试将积累的用户标签通过阿里妈妈的广告交易平台 TANX 提供出去，现在还没有说要收费，但也许以后会有商业化的运作，毕竟跟没有这些数据相比，DSP 们更值得 RTB 了。</p>
                    <p>阿里巴巴也在尝试将积累的用户标签通过阿里妈妈的广告交易平台 TANX 提供出去，现在还没有说要收费，但也许以后会有商业化的运作，毕竟跟没有这些数据相比，DSP 们更值得 RTB 了。</p>
                </div>
                <div class="col-sm-4 mentor-d3">
{/* mentor carousel */}
<div id="carousel-mentor" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-mentor" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-mentor" data-slide-to="1"></li>
    <li data-target="#carousel-mentor" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="__PUBLIC__/pics/mao1.jpg">
      <div class="carousel-caption">
        <p>这里是照片 001</p>
      </div>
    </div>
    <div class="item">
      <img src="__PUBLIC__/pics/mao2.jpg">
      <div class="carousel-caption">
        <p>这里是照片 002</p>
      </div>
    </div>
    <div class="item">
      <img src="__PUBLIC__/pics/mao3.jpg">
      <div class="carousel-caption">
        <p>这里是照片 003</p>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#carousel-mentor" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-mentor" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
                    <a href="#" class="more-mentor btn btn-primary">查看更多再来导师</a>
                </div>
            </div>
        </div>
    </div>
</div>