<div class="container">
    <div id="carousel-successful-case" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
<div class="row">
    <div class="col-md-4"><include file="zh:index:successful-case-item" /></div>
    <div class="col-md-4"><include file="zh:index:successful-case-item" /></div>
    <div class="col-md-4"><include file="zh:index:successful-case-item" /></div>
</div>
<div class="s-line"></div>
<div class="row">
    <div class="col-md-4"><include file="zh:index:successful-case-item" /></div>
    <div class="col-md-4"><include file="zh:index:successful-case-item" /></div>
    <div class="col-md-4"><include file="zh:index:successful-case-item" /></div>
</div>
        </div>
        <div class="item">
<div class="row">
    <div class="col-md-4"><include file="zh:index:successful-case-item" /></div>
    <div class="col-md-4"><include file="zh:index:successful-case-item" /></div>
    <div class="col-md-4"><include file="zh:index:successful-case-item" /></div>
</div>
<div class="s-line"></div>
<div class="row">
    <div class="col-md-4"><include file="zh:index:successful-case-item" /></div>
    <div class="col-md-4"><include file="zh:index:successful-case-item" /></div>
    <div class="col-md-4"><include file="zh:index:successful-case-item" /></div>
</div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-successful-case"
        role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-successful-case"
        role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
      {/* 更多成功案例 */}
      <a href="#" class="successful-more btn btn-primary">更多成功案例</a>
    </div>
</div>