<div id="footer">
    <div class="container"><div class="row">
        <div class="col-md-3">
            <h3>关于我们</h3>
            <div class="fline"></div>
            <ul>
                <li><a href="#">企业理念</a></li>
                <li><a href="#">团队创始人</a></li>
                <li><a href="#">顾问常委会</a></li>
                <li><a href="#">公司新闻</a></li>
                <li><a href="#">媒体报道</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3>服务介绍</h3>
            <div class="fline"></div>
            <h3>再来导师</h3>
            <div class="fline"></div>
            <h3>其他</h3>
            <div class="fline"></div>
            <ul>
                <li><a href="#">常见问题</a></li>
                <li><a href="#">支付方式</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3>资源分享</h3>
            <div class="fline"></div>
            <h3>成功案例</h3>
            <div class="fline"></div>
            <h3>加入再来人</h3>
            <div class="fline"></div>
            <ul>
                <li><a href="#">招聘</a></li>
                <li><a href="#">成为导师</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3>联系我们</h3>
            <div class="fline"></div>
            <p>客服咨询:
                <a href="tel:15910538525">111 1111 1111</a><br/>
                <a href="mailto:support@zailairen.com">support@zailairen.com</a></p>
            <h3>关注我们</h3>
            <div class="fline"></div>

        </div>
    </div></div>
    <p class="copyright">©2014&nbsp;&nbsp;再来人咨询有限公司&nbsp;&nbsp;京ICP证080668号&nbsp;&nbsp;京公网安备110106006868号</p>
</div>