html,body{
    height: 100%;
}
body{
    font-family: "微软雅黑","黑体","Microsoft Yahei","SimHei",Arial,sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 1.6em;
}
a{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
a:hover{}
h1{
    display: inline;
}
h2{}
h3{
    font-size: 16px;
}
ul,ol,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.tline{
    margin: 30px 0 20px;
    height: 1px;
    background-color: #dadfe1;
}

/* global nav */
#globalNav{

}
#globalNav.navbar-mid-animate,
#globalNav.navbar-fixed-top{
    top: 0;
    border-bottom-color: #dadfe1;
    background-color: #FFF;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    -ms-transition: top 0.5s;
    transition: top 0.5s;
}
#globalNav.navbar-mid-animate{
    position: fixed;
    left: 0;
    right: 0;
    top: -80px;
}
.navbar-in-index{
    position: absolute;
    left: 0;
    right: 0;
    top: -80px;
    border-width: 0 0 1px;
    border-radius: 0;
    background-color: transparent;
    border-color: transparent;
    margin-top: 110px;
}
#globalNav .navbar-brand{
    font-size: 22px;
}
.navbar-in-index .navbar-brand{
    color: #FFF;
}
.navbar-in-index .navbar-brand:hover{
    color: #CCC;
}
#globalNav .navbar-nav>li>a{
    font-size: 16px;
}
.navbar-in-index .navbar-nav>li>a{
    color: #FFF;
}
.navbar-in-index .navbar-nav>li>a:hover{
    color: #AAA;
}
.navbar-in-index .navbar-nav>.open>a,
.navbar-in-index .navbar-nav>.open>a:hover{
    color: #FFF;
    background-color: rgba(255,255,255,.3);
    /*background-color: rgba(139,137,137,.5);*/
}

/* footer and copyright */
#footer{
    padding: 75px 0px 20px;
    color: #f3f5f5;
    background-color: #2D3235;
}
#footer a{
    color: #FFF;
}
#footer a:hover{
    color: #8bc5eb;
    text-decoration: none;
    padding: 0 0 0 6px;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    -ms-transition: all 0.15s;
    transition: all 0.15s;
}
.fline{
    width: 50px;
    border-top: 1px solid #b0babf;
    margin-bottom: 10px;
    opacity: .5;
}
.copyright{
    text-align: center;
    margin: 60px 10px 0;
}